@import './vars';

// text colors
.text-error {
  color: $colorWarn;
}

.text-primary {
  color: $colorPrimary;
}

// text-alignments
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// margins
.margin-m {
  margin: $size-m;
}

.margin-left-s {
  margin-left: $size-s;
}

.margin-top-m {
  margin-top: $size-m;
}

.margin-top-l {
  margin-top: $size-l;
}

.margin-bottom-m {
  margin-bottom: $size-m;
}

// paddings
.padding-m {
  padding: $size-m;
}

.padding-top-m {
  padding-top: $size-m;
}

// flex
.flex {
  display: flex;
}

.flex-middle {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrapped {
  flex-wrap: wrap;
}

// backgrounds
.primary-background {
  background: $colorPrimary;
  color: white;
}

.warn-background {
  background: $colorWarn;
  color: white;
}


// card
.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}
