<div class="listing-container">
  <div class="flex flex-between">
    <div>
      <div>Total Parking Slots: {{totalSlots}}</div>
      <div>Available Slots: {{availableSlots}}</div>
    </div>
    <div>
      <div>
        <button class="primary-background" (click)="showAmountCollected = !showAmountCollected" type="button">Query
          data</button>
        <button class="primary-background margin-left-s" (click)="parkCar()" type="button">Park a car</button>
      </div>
      <form class="margin-top-m margin-bottom-m" (ngSubmit)="search()" #searchForm="ngForm">
        <div>
          <input type="text" name="license num" pattern="[A-Za-z0-9\-]+" placeholder="reg no."
            [(ngModel)]="searchFormFields.regNo" #licenseCar="ngModel" />
          <select name="Choose color" class="margin-left-s" [(ngModel)]="searchFormFields.color" #colorCar="ngModel">
            <option [value]="color" *ngFor="let color of availableColors">{{color}}</option>
          </select>
          <button class="margin-left-s primary-background" [disabled]="!searchForm.form.valid"
            type="submit">Search</button>
          <button class="margin-left-s primary-background" (click)="reset()" type="button">Reset</button>
        </div>
        <div class="text-error margin-top-s margin-bottom-s" [hidden]="licenseCar.valid || licenseCar.pristine">
          Invalid registration number
        </div>
      </form>
    </div>
  </div>

  <h2 class="text-center text-primary" *ngIf="showAmountCollected">Total amount collected: {{amountCollected}}</h2>

  <div [hidden]="!showParkCar" id="park-form">
    <h3 *ngIf="availableSlots === 0" class="text-center text-error">All slots are full currently. Try unparking a car
    </h3>
    <form class="card text-center margin-bottom-m" *ngIf="availableSlots > 0" (ngSubmit)="onAddCar()"
      #parkForm="ngForm">
      <div class="form-group">
        <input type="text" name="car number" required pattern="[A-Za-z0-9\-]+" placeholder="Enter car number"
          [(ngModel)]="newCarDetails.carNo" #carNum="ngModel" />
        <div class="text-error" [hidden]="carNum.valid || carNum.pristine">Invalid car number</div>
      </div>

      <div class="form-group margin-top-m margin-bottom-m">
        <input type="text" name="car color" required pattern="[A-Za-z]+" placeholder="Enter car color"
          [(ngModel)]="newCarDetails.color" #carColor="ngModel" />
        <div class="text-error" [hidden]="carColor.valid || carColor.pristine">Invalid car color</div>
      </div>

      <button type="submit" class="primary-background" [disabled]="!parkForm.form.valid">
        Add
      </button>
    </form>
  </div>

  <table>
    <tr>
      <th>#</th>
      <th>Car No</th>
      <th>Color</th>
      <th>Slot No.</th>
      <th>Date Time</th>
      <th></th>
    </tr>
    <tr *ngFor="let slot of displaySlotBookings; let i=index">
      <td>{{i+1}}</td>
      <td>{{slot.carNo}}</td>
      <td>{{slot.color}}</td>
      <td>{{slot.slotNo}}</td>
      <td>{{slot.parkingTime | date}}</td>
      <td>
        <button type="button" class="warn-background" (click)="emptySlot(i)">Remove</button>
      </td>
    </tr>
  </table>
</div>
